<div class="container">
  <h2>Do these things:</h2>
    <div class="table-responsive">
      <table class="table table-hover ">
        <%= render @user.items %>
      </table>
    </div>
  <div class='new-item'>
      <%= render 'items/form', item: Item.new, user: @user %>
  </div>
</div>

<script type="text/javascript">
    blocmetrics.report("user_show");
</script>
