
<div class="col-md-6">
  <h2>About</h2>
  <p class="lead">Blocitoff is a self-destructing to do list application created by Hannah Violet during Bloc's Ruby on Rails training program.</p>
</div>
<script type="text/javascript">
   $(document).on("ready page:load", function () {
      blocmetrics.report("About Page View");
    })
</script>
